<div class="container" id="educacion">
    <!-- educacion -->
    <h3>Educación</h3>
    <hr>
    <h4>Secundaria</h4>
    <p class="perfil">I.E "Ramón Castilla 3043"</p>
    <h4>Instituto</h4>
    <p class="perfil">I.E.S.T.P "Luis Negreiros Vega"</p>
    <p class="perfil">Computación e informática</p>
    <!-- boton de mas informacion -->

    <button type="button" class="buton" (click)="agregar()">Más información</button>
    <!-- los cursos  -->

    <!-- para la funcion de input este es el componente hijo -->
    <app-informacion [cursosHijos]="cursos"></app-informacion>

    <!-- habilidades -->
    <h3 id="habilidades">Habilidades</h3>
    <hr>
    <h4>Responsabilidad</h4>
    <p class="perfil">Cumplo con mis actividades con organización y
        a tiempo.
    </p>
    <h4>Perseverancia</h4>
    <p class="perfil">Busco hallar una solucidn al problema.</p>
    <h4>Puntualidad</h4>
    <p class="perfil">Ser puntual en mis actividades.</p>
    <h4>Colaborativa</h4>
    <p class="perfil">Ser participativa y proactiva en trabajos grupales.</p>


</div>
